doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Start Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Jinzhen Zhu
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#research') Research
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#publications') Publications

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Jinzhen 
                        span.text-primary Zhu
                    .subheading.mb-5  
                        | 37 Theresienstrasse · Munich Germany, 80333 · +4915908457541· 
                        a(href='mailto:zhujinzhenlmu@gmail.com') zhujinzhenlmu@gmail.com
                    p.lead.mb-5
                        | I am with a mixed background.<br>
                        | I am now a Ph.D student of LMU with research interest in computational physics with experience in data analysis and computational software development and application using Python and C++.<br>
                        | I have work experiences in web development with javascript and Python.<br>
                        | I obtained my master degree majored in quantum chemistry.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/jinzhen-zhu/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='http://digitizer-online.de/')
                            i.fas.fa-chart-area
                        a.social-icon(href='https://gitlab.physik.uni-muenchen.de/AG-Scrinzi/tRecX')
                            i.fab.fa-gitlab


            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Ludwig-Maximilians-Universität Müchen  July 2016 - Present
                            .subheading.mb-3 Ph.D study of Physics at Arnold Sommerfeld center
                            div Computational and Plasma physics - Method development and application on Photoinzation of He and H2+
                        .flex-shrink-0
                            span.text-primary July 2016 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 University of Chinese Academy of sciences 
                            .subheading.mb-3 Master of Materials Physics and Chemistry at Shanghai Institute of Ceramics
                            div Computational Chemistry on Li-Air batteries

                        .flex-shrink-0
                            span.text-primary September 2012 - June 2015

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Nanjing Tech University  
                            .subheading.mb-3 Bachelor of Composite materials and engineering at Department of materials science and engineering
                            div GPA 4.1/5

                        .flex-shrink-0
                            span.text-primary Steptember 2008 - July 2012



            hr.m-0

            // Research
            section#research.resume-section
               .resume-section-content
                    h2.mb-5 Research

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Computational Physics
                            .subheading.mb-3 Application and development with the tRecX code using C++ and Python, including
                            p
                                |Implementation of parallelization and spectrum evaluation part of tRecX.
                            p
                                |Frustrated double ionization of HeH + .
                            p
                                |Double photoelectron emission from He atoms by intense laser pulses.
                            p
                                |Dissociative ionization of H 2 + in full dimensionality.
                        .flex-shrink-0
                            span.text-primary July 2016 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Quantum Chemistry
                            .subheading.mb-3 Quantum-Chemistry calculation by Gauss and VASP
                            p
                                | Catalysts screening in lithium-air batteries by first-principles calculation.
                            p
                                | Quantum chemistry calculation of 3D-to-planar structural transition of clusters.
                            p
                                |  Investigation the catalytic mechanism of catalyst for NO oxidation at low content.
                        .flex-shrink-0
                            span.text-primary September 2013 - June 2015

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Web developer
                            .subheading.mb-3 mainly in front-end development, including
                            p
                                |Community for desktop and mobile for uqer.
                            p
                                |Backend for displaying the dynamically generated QR codes from wechat, bind wechat account and local user account, send notifications to users through wechat.
                            
                        .flex-shrink-0
                            span.text-primary July 2015 - June 2016

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0  Data Analyst Intern 
                            .subheading.mb-3 analyse collect and analyse the electricity price
                            
                        .flex-shrink-0
                            span.text-primary July 2014 - August 2014

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-python
                        li.list-inline-item
                            i.fab.fa-cuttlefish
                        li.list-inline-item
                            i.fab.fa-ubuntu
                        li.list-inline-item
                            i.fab.fa-git
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-angular
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-less
                        li.list-inline-item
                            i.fab.fa-npm
                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Scientific computation, development and application of softwares
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Data analysis, mathematical modeling
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Web development


            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Awards & Certifications
                    .subheading.mb-3 Graduate study 2013-2015
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Yan Dongsheng Fellow scholarship
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | First-class scholarship of Chinese Academy of Sciences precautions
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning 
                            | National Mathematical Modeling Competition for Graduate students: third prize
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Outstanding Graduates of Beijing City
                    .subheading.mb-3 Undergraduate study 2008-2012
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | National Scholarship
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning 
                            | National Encouragement Scholarship
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Second Price of Mathematical Competition in Jiangsu Province
            hr.m-0

            // Publications
            section#publications.resume-section
                .resume-section-content
                    h2.mb-5 Publications
                    p
                        | J. Zhu*. Theoretical investigation of Freeman resonance in the dissociative ionization of H2+. https://arxiv.org/abs/2008.09528
                    p
                        | J. Zhu*. A quantum simulation of dissociative ionization of H 2 + in full dimensionality with time-dependent surface flux method. https://arxiv.org/abs/2007.10179
                    p 
                        | J. Zhu, A.Scrinzi*. Electron double-emission spectra for Helium atoms in intense 400 nm laser pulses. Physical Review A, 101(6):063407, 2020
                    p
                        | A. Vila, J.Zhu, A.Scrinzi and A.Emmanouilidou*. Intertwined electron-nuclear motion in frustrated double ionization in driven heteronuclear molecules. Journal of Physics B: Atomic, Molecular and Optical Physics, 51(6):065602, 2018
                    p
                        | J.Zhu,,F.Wang , B.Wang, Y.Wang, J.Liu* , W.Zhang, Z.Wen. Surface Acidity as Descriptor of Catalytic Activity for Oxygen Evolution Reaction in Li-O 2 Battery.Journal of the American Chemical Society. 137(42):135721357, 2015
                    p
                        | J.Zhu, X.Ren, J.Liu*, W.Zhang, Z.Wen: Unraveling the Catalytic Mechanism of Co 3 O 4 for Oxygen Evolution Reaction in a Li − O 2 Battery. ACS Catalysis: 5:73-81,2015.
                    p
                        | J.Zhu, B.Wang, J.Liu*, H.Chen, W.Zhang, Theoretical Studies of 3D-to-planar Structural Transition +1,0,−1 in Si n Al 5−n (n = 0-5) Clusters. RSC Advances, 5:13923-23929, 2015.
                    p
                        | J.Wang, J.Zhu, X.Zhou, Y.Du, W.Huang, J.Liu*, Y.Chen, Z.Xie; W.Zhang and J.Shi. Nanoflower-like Amorphous Manganese Oxide for Efficient Removal of Low-concentration NO at Room Temperature. Journal of Materials Chemistry A,3:7631-7, 2015.
                    p
                        | X.Ren, B.Wang, J.Zhu, J.Liu*, W.Zhang and Z.Wen. Physical Chemistry Chemical Physics. 17:22, 2015.
                    p
                        | X.Ren, J.Zhu, F.Du, J.Liu* and W.Zhang. The Journal of Physical Chemistry C.18(39):22412-22418, 2014.
                    p
                        | L.Zhang, L.Zhou, J.Zhu, H.Yang, P.Han, Y.Chen, Q.Zhang. Citrate sol-gel combustion preparation and photoluminescence properties of YAG:Ce phosphors. Journal of Rare Earths. 30(4):289296, 2012.
                    p.mb-0


        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')